
@import 'mixins.styl'
@import 'colors.styl'

body
  background-color $bg
  font-family 'Open Sans'
  color $black
  &.hidden
    overflow hidden
  a
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  h1
    +below(991px)
      font-size: 1em
  input
    box-sizing border-box
  input[type='text']
    height 55px
    appearance none
    border-radius 0
    background none !important
    box-shadow none !important
    border .063rem solid #ccd2db
    padding .375rem .75rem
    outline none
    &:focus
      border-color #353d98
  .container
    max-width: 1200px
    margin: auto
    width auto
    padding 0 15px